<div class="container">
    <form class="input-group" ng-submit="main.search(main.isbnId)">
        <input type="text" class="form-control"
               placeholder="ISBN number"
               ng-model="main.isbnId"/>
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                  </span>
    </form>
    <hr ng-show="main.book.title">
    <div class="panel panel-default" ng-show="main.book.title">
        <div class="panel-heading">
            <h3 class="panel-title">{{main.book.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="media-left">
                <img class="media-object" ng-src="{{main.book.thumbnail}}" alt="{{main.book.title}} image">
            </div>
            <div class="media-body">
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-show="main.book.authors">
                        <b>Author(s) : </b>
                        <span ng-repeat="author in main.book.authors">{{author}}</span> &nbsp;
                    </li>
                    <li class="list-group-item"
                        ng-show="main.book.publisher">
                        <b>Publisher : </b>
                        {{main.book.publisher}}
                    </li>
                    <li class="list-group-item"
                        ng-show="main.book.description">
                        <b>Description : </b>
                        {{main.book.description}}
                    </li>
                    <li class="list-group-item"
                        ng-show="main.book.pageCount">
                        <b>PageCount : </b>{{main.book.pageCount}}
                    </li>
                </ul>
            </div>
            <button class="btn btn-success pull-right" ng-click="main.addBook(main.book, currentUser)"><i class="fa fa-plus"></i>&nbsp;Add this book</button>
        </div>
    </div>
</div>

