<div class="container">
    <form name="searchForm">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="search">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i><span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <!-- todo://search changement field -->
                    <li><a>By authors</a></li>
                    <li><a>By title</a></li>
                </ul>
            </div>
        </div>
    </form>
    <div class="col-md-4" ng-repeat="book in main.books | filter:search">
        <div class="card card--small">
            <div style="background-image: url({{::book.thumbnail}})" class="card__image"></div>
            <h2 class="card__title">{{::book.title}}</h2><span class="card__subtitle">By <span ng-repeat="author in book.authors">{{::author}}</span></span>
            <div class="card__action-bar">
                <button ng-click="main.goDetails(book)" class="card__button">LEARN MORE</button>
            <span ng-show="!book.borrow">
            <i class="fa fa-check"></i> Available
            </span>
                <span ng-show="book.borrow"><i class="fa fa-close"></i> Unavailable</span>
            </div>
        </div>
    </div>
</div>

