<div ng-repeat="book in books" class="container">
    <div class="panel" ng-class="{'panel-success': !book.borrow, 'panel-danger': book.borrow}" ng-show="book.title">
        <div class="panel-heading">
            <div class="panel-title">{{book.title}}</div>
        </div>
        <div class="panel-body">
            <div class="media-left">
                <img class="media-object" ng-src="{{book.thumbnail}}" alt="{{::book.title}} image">
            </div>
            <div class="media-body">
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-show="book.authors">
                        <b>Author(s) : </b>
                        <span ng-repeat="author in book.authors">{{author}}</span> &nbsp;
                    </li>
                    <li class="list-group-item"
                        ng-show="book.publisher">
                        <b>Publisher : </b>
                        {{book.publisher}}
                    </li>
                    <li class="list-group-item"
                        ng-show="book.description">
                        <b>Description : </b>
                        <span read-more hmtext="{{book.description}}"></span>
                    </li>
                    <li class="list-group-item"
                        ng-show="book.pageCount">
                        <b>PageCount : </b>{{book.pageCount}}
                    </li>
                </ul>
            </div>
            <a href="/books/{{book._id}}" class="btn btn-default pull-right">Details</a>
        </div>
    </div>
</div>
