<div class="container" ng-show="main.book.title">
    <div class="panel" ng-class="{'panel-success': !main.book.borrow, 'panel-danger': main.book.borrow}"
         ng-show="main.book.title">
        <div class="panel-heading">
            <h3 class="panel-title">{{::main.book.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="media-left">
                <img class="media-object" ng-src="{{::main.book.thumbnail}}" alt="{{::main.book.title}} image">
            </div>
            <div class="media-body">
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-show="main.book.authors">
                        <b>Author(s) : </b>
                        <span ng-repeat="author in main.book.authors">{{::author}}</span> &nbsp;
                    </li>
                    <li class="list-group-item"
                        ng-show="main.book.publisher">
                        <b>Publisher : </b>
                        {{::main.book.publisher}}
                    </li>
                    <li class="list-group-item"
                        ng-show="main.book.description">
                        <span read-more hmtext="{{::main.book.description}}"></span>
                    </li>
                    <li class="list-group-item"
                        ng-show="main.book.pageCount">
                        <b>PageCount : </b>{{::main.book.pageCount}}
                    </li>
                    <li class="list-group-item"
                        ng-show="main.book.since">
                        <b>In the library since : </b>{{::main.book.since | date: 'd/MM/yy h:mm'}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-comments"></i>&nbsp; Comments
                        <span class="badge pull-right">
                            {{main.book.comments.length}}
                        </span>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group" ng-show="main.book.comments">
                        <li class="list-group-item" ng-repeat="comment in main.book.comments">
                            <b>{{::comment.username}}</b> - {{::comment.body}}
                            <span class="small pull-right">{{::comment.date | date : 'd/MM/yy h:mm'}}</span>
                        </li>
                    </ul>
                    <h4 ng-hide="main.book.comments.length > 0">No comments !</h4>

                    <form name="addCommentForm" ng-submit="main.addComment(main.book, main.newComment, currentUser)">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   placeholder="Comment"
                                   ng-model="main.newComment.body"/>
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            type="submit">
                                        Comment
                                    </button>
                                  </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-book"></i>&nbsp;Bookings
                    <span class="badge pull-right">
                        {{main.book.bookings.length}}
                    </span>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="borrower in main.book.bookings">
                            <b>{{::borrower.username}}</b>

                            <div class="small pull-right">
                                <span>
                                    {{::borrower.date | date: 'd/MM/yy h:mm'}}
                                </span>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-primary col-xs-12"
                            ng-click="main.bookBook(main.book, currentUser)">Book this book
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-book"></i>&nbsp;Borrow
                    <span class="badge pull-right">
                        {{main.book.borrowers.length}}
                    </span>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="borrower in main.book.borrowers">
                            <b>{{::borrower.username}}</b>

                            <div class="small pull-right">
                                <span>
                                    {{::borrower.dateBorrow | date: 'd/MM/yy h:mm'}}
                                </span>
                                <span ng-show="::borrower.dateUnborrow">
                                   - {{::borrower.dateUnborrow | date: 'd/MM/yy h:mm'}}
                                </span>
                                <span ng-hide="::borrower.dateUnborrow">
                                   - Not yet
                                </span>
                            </div>
                        </li>
                    </ul>
                    <button ng-hide="main.book.borrow"
                            class="btn btn-primary col-xs-12"
                            ng-click="main.borrowBook(main.book, currentUser)">Borrow
                    </button>
                    <button ng-show="main.book.borrow"
                            class="btn btn-primary col-xs-12"
                            ng-click="main.returnBook(main.book, currentUser)">Return book
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a href class="pull-right btn-link" ng-show="currentUser._id === main.book.owner"
       ng-click="main.delBook(main.book)">
        <b>Remove this book</b>
    </a>
</div>
<div class="container" ng-hide="main.book.title">
    <h1>No books for this id !</h1>
</div>
